<section class="inner-banner">
  <img src="./assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
    <h1>Our Products</h1>
  </div>
</section>

<section class="product-listing-page cmn-gap">
  <div class="container">
    <div class="row product-row">
      <ng-container *ngIf="productList">
        <div class="col-lg-3 col-md-6 produtc-col" *ngFor="let item of productList| slice:0:12">
          <div class="product-card">
            <div class="product-image">
              <a><img class="image" [src]="item?.image ? item?.image : './assets/images/product01.jpg'" alt=""></a>
              <a class="cart"><img src="./assets/images/shopping-cart.svg" alt=""></a>
            </div>
            <div class="product-cont">
              <h5><a>{{item?.name}}</a></h5>
              <!-- <div class="price">
                <span>₹ {{item?.offer_price | number: '.2'}}</span>
                <span>₹ {{item?.price | number: '.2'}}</span>
              </div> -->
            </div>
            <a class="cmn-btn">Buy Now</a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!productList">
        <p>No Product Found</p>
      </ng-container>

    </div>
  </div>
</section>
