<section class="banner-section">
  <div class="banner-slider">
    <ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of bannerImage">
        <figure class="slide">
          <img [src]="item?.image ? item?.image : './assets/images/banner-image.jpg'" alt="">
        </figure>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
<section class="product-section cmn-gap">
  <div class="container">
    <h2>Our Products</h2>
    <div class="row">
      <ng-container *ngIf="productFeaturedList">
        <ng-container *ngFor="let item of productFeaturedList| slice:0:8">
          <div class="col-lg-3 col-md-6 product-col">
            <div class="product-card">
              <div class="card-image">
                <a>
                  <img [src]="item?.image ? item?.image : './assets/images/product01.jpg'" alt="">
                </a>
              </div>

              <div class="card-cont">
                <h4>{{item?.name}}</h4>
                <!-- [innerHTML]="item?.description" -->
                <!-- <p [innerHTML]="item?.description">
                </p> -->
              </div>

            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!productFeaturedList">
        <p>No Product Found</p>
      </ng-container>

    </div>

    <div class="button text-center" *ngIf="productFeaturedList?.length > 8">
      <a [routerLink]="['/products']" routerLinkActive="router-link-active" class="cmn-btn">Show More</a>
    </div>
  </div>
</section>

<section class="review-section cmn-gap">
  <div class="container">
    <h2>Testimonial</h2>
    <!-- <div class="review-slider"> -->
    <ngx-slick-carousel class="carousel" [config]="slideConfigtestimonial">
      <div ngxSlickItem class="review-col" *ngFor="let item of testimonial">
        <div class="review-card">
          <div class="review-image">
            <img [src]="item.image? item.image : './assets/images/MH-avatar-noImage.png'" alt="">
          </div>
          <div class="review-cont">
            <p [innerHTML]="item?.description">
            </p>
            <span>{{item?.name}}</span>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>

<section class="contatc-sec cmn-gap">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="form-section">
      <form>
        <div class="row contact-row">
          <div class="col-md-6 form-sec-col">
            <div class="form-input">
              <input type="text" placeholder="First Name">
            </div>
          </div>

          <div class="col-md-6 form-sec-col">
            <div class="form-input">
              <input type="text" placeholder="Last Name">
            </div>
          </div>

          <div class="col-md-12 form-sec-col">
            <div class="form-input">
              <input type="email" placeholder="Email">
            </div>
          </div>

          <div class="col-md-12 form-sec-col">
            <div class="form-input">
              <textarea placeholder="Message"></textarea>
            </div>
          </div>

          <div class="col-md-12 form-sec-col">
            <div class="form-input text-center">
              <input type="submit" value="SUBMIT">
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>

<!-- <section class="app-section">
  <div class="container">
    <div class="row app-row">
      <div class="col-lg-6 app-left">
        <div class="app-image">
          <img src="./assets/images/product01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 app-right">
        <div class="app-cont">
          <h2>Download Our App</h2>
          <div class="d-link-wrap">
            <a href="#url"><img src="./assets/images/play-store.png" alt=""></a>
            <a href="#url"><img src="./assets/images/apple-stropre.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
