<section class="inner-banner">
  <img src="./assets/images/banner-image.jpg" alt="">
  <div class="banner-cont container">
    <h1>About Buildboard</h1>
  </div>
</section>

<div class="about-section cmn-gap">
  <div class="container">
    <div class="heading">
      <h2>About Buildboard</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout.
      </p>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/product01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of.
          </p>


        </div>
      </div>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/product02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of.
          </p>

        </div>
      </div>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/product03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of.
          </p>

        </div>
      </div>
    </div>

    <div class="row about-row">
      <div class="col-lg-6 about-left">
        <div class="about-image">
          <img src="./assets/images/product04.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 about-right">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text.
          </p>

          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of.
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
