@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */



body{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  width: 100%;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  line-height: 1.6;
}

p{margin: 0 0 22px 0;}
p:last-child{margin-bottom:0;}

h1,h2,h3,h4,h5,h6{ margin:0 0 25px 0; padding:0; font-weight: 800; color: #353a5f; }

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
	margin-bottom: 0;
}

h1{ font-size: 58px; line-height: 1.2; }

h2{ font-size: 35px; line-height: 1.2; }

h3{ font-size: 24px; line-height: 1.2; }

h4{ font-size: 19px; line-height: 1.2; }

h5{ font-size: 16px; line-height: 1.2; }

ol{
  padding-left: 20px;

}
ol li{
      margin-bottom: 5px;

}

ul{
  padding: 0;

}

ul li{
  padding: 0;
  padding-left: 11px;
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

ul li:before{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #353a5f;
  position: absolute;
  top: 9px;
  left: 0;
}


a{margin:0;padding:0;text-decoration:none !important;outline:none !important; color: #353a5f;
-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
a:hover{color: #9ebaf3}

img{max-width: 100%;}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select{
	background-color:#fff;
	width: 100%; -webkit-appearance:none;appearance:none;
	-webkit-border-radius: 5px; -moz-border-radius: 5px;
	-ms-border-radius: 5px;border-radius: 5px; color: #000;
  border: 1px solid #b8b8b8; height: 53px;padding: 0 16px;
  font-size: 15px;
  outline: none;
  box-shadow: none;
}
textarea{
	background-color:#fff;
	-webkit-appearance:none;appearance:none;
	-webkit-border-radius: 5px; -moz-border-radius: 5px;-ms-border-radius: 5px;
	border-radius: 5px;border: 1px solid #b8b8b8; padding: 12px 16px;
  width: 100%;
  height: 150px;
  font-size: 15px;
  outline: none;
  box-shadow: none;
}

select{
	 border: 1px solid #b8b8b8;
	 width: 100%; padding: 0 11px;
	// background: url(./assets/images/arrow_bottom.svg) no-repeat calc(100% - 16px) center #fff;
	background-size: 18px;
	padding-right: 40px ; outline: none ; -webkit-appearance: none;
	-moz-appearance: none; -ms-appearance: none; -o-appearance: none;
	appearance: none;
}
select::-ms-expand{
	display: none;
}

input[type="submit"]{
  background-color: #353a5f;
  background-image: linear-gradient(#353a5f,#9ebaf3);
	color: #fff; height: 50px;
	 border:none;-webkit-appearance:none;
	 appearance:none;-webkit-border-radius: 30px;
	 -moz-border-radius: 30px;-ms-border-radius: 30px;
	 border-radius: 30px; padding-left: 45px; padding-right: 45px;
   text-transform: uppercase; cursor: pointer;
   box-shadow: none;
   outline: none;
   font-weight: 700;
   border-top-right-radius: 0;
}
input[type="submit"]:hover{
  background-color: #9ebaf3;
  background-image: linear-gradient(#9ebaf3,#353a5f );
  color: #fff;
}


::-webkit-input-placeholder{opacity:1; color: #878787;}
:-ms-input-placeholder{opacity:1;color: #878787;}
::-moz-placeholder{opacity:1;color: #878787;}
:-moz-placeholder{opacity:1;color: #878787;}



/* images alignment for wordpress content pages */
.alignright { float: right;  margin: 0 0 20px 20px;}
.alignleft { float: left;margin: 0 20px 20px 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;  float: none;}



/* custom checkbox */
.form_input_check{position: relative; margin: 0; padding-left: 40px;}
.form_input_check span{
  margin: 0;
  padding: 0;
}
.form_input_check input[type="checkbox"]{visibility: hidden; display: none;}
.form_input_check input[type="checkbox"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 22px;
  height: 22px;
  border: 2px solid #feb620;
  background: #fff;
}
.form_input_check input[type="checkbox"] + span::after{
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: url(./assets/images/checked.svg) no-repeat center center;
  background-size: 15px;
}
.form_input_check input[type="checkbox"]:not(:checked)  + span::after{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* .form_input_check input[type="checkbox"]:checked + span::before {

} */
.form_input_check input[type="checkbox"]:checked + span:after {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);

}


/* custom radio */
.form_input_radio{position: relative; margin: 0; padding-left: 30px;}
.form_input_radio span{
  margin: 0;
  padding: 0;
}
.form_input_radio input[type="radio"]{visibility: hidden; display: none;}
.form_input_radio input[type="radio"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 100%;
  background: #fff;
}
.form_input_radio input[type="radio"] + span::after{
  content: '';
  width: 12px;
  height: 12px;
  background: #4b0049;
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form_input_radio input[type="radio"]:not(:checked)  + span::after{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* .form_input_radio input[type="radio"]:checked + span::before {

} */
.form_input_radio input[type="radio"]:checked + span:after {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);

}
/* custom radio end */




/* navbar*/
.navbar-brand{
	padding: 0;
  margin: 0;
  width: 75px;
}

.logo-2{
  width: 258px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.navbar{
background: none; margin: 0; padding: 0;
min-height: inherit; height: inherit;
border:none; -webkit-border-radius: 0; -moz-border-radius: 0;
-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;
}
.navbar-nav li{
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.navbar-nav li:last-child{ margin-right: 0; }

.navbar-nav li::before{ display: none; }

.navbar-nav > li{ position: relative;}
.navbar-nav > li:last-child{margin-right:0;}
.navbar-nav > li:first-child{margin-left:0;}

.navbar-nav > li > a{color: #9ebaf3;}

.navbar-nav > li > a:hover{ color: #353a5f; }

.navbar-nav > li > a.current-menu-item{ color: #353a5f; }

/* .navbar-nav > li.current-menu-item > a,
.navbar-nav > li > a:hover,
.navbar-nav > li.menu-item-has-children:hover > a{color:#130f40;} */

/* navbar submenu*/
.sub-menu{background: #fff;position: absolute;top: 100%;left: 0;z-index: 1000;
	display: none;border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 0; -moz-border-radius: 0;
  -ms-border-radius: 0; -o-border-radius: 0;border-radius: 0; width: 140px; padding: 0;}

.sub-menu > li > a{color: #425964; display: block; width: 100%; padding: 5px 10px;}

.sub-menu > li{width: 100%; display: block; padding-left: 0; }

.sub-menu > li.current-menu-item { background: #000; }

.sub-menu > li::before{ display: none; }

.sub-menu > li > a:hover,
.sub-menu > li.menu-item-has-children:hover > a{background:#000;  color: #fff; }

.navbar-nav > li:last-child > .sub-menu{ right: 0; left: inherit;padding:0; font-size: 16px;}

/* 2nd level submenu */
.navbar-nav > li > .sub-menu .sub-menu{
 position: absolute;
 left: 100%;
 top: 0;
}

.cmn-gap{
	padding-top: 80px;
	padding-bottom: 80px;
}

.banner-section{ position: relative; }

.banner-section figure > img{ width: 100%; }

.banner-section figure{ margin-bottom: 0; position: relative; }

/* .banner-section figure::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 46, 79, 0.5);
} */

.banner-section .banner-cont{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
}

.banner-section .banner-cont .banner-container{
  max-width: 600px;
}

.banner-section .slick-next{
  right: 25px;
  z-index: 9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.banner-section .slick-prev{ left: 25px; z-index: 9; }

.banner-section .slick-dots{ bottom: 25px; }

.banner-section .slick-dots li::before{ display: none; }

.banner-section  .slick-dots li button::before{
  content: "";
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.banner-section  .slick-dots li.slick-active button:before{ opacity: 1; }

.main-head{
  padding: 20px 0;
  transition: 0.5s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  background: #000;
}

.banner-section  .slick-dotted.slick-slider{ margin-bottom: 0; }


.banner-section .slick-prev:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('./assets/images/left-arrow.svg') no-repeat center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.banner-section .slick-next:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('./assets/images/right-arrow.svg') no-repeat center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.banner-section .banner-cont h1,
.banner-section .banner-cont p{ color: #fff; }


.product-section h2{ text-align: center; margin-bottom: 40px; text-transform: uppercase; }

.product-section .card-image{ height: 280px; overflow: hidden; transition: 0.5s ease-in-out; }

.product-section .card-image a{ display: inline-block; width: 100%; }

.product-section .card-image a img{
  transition: 0.6s ease-in-out;
  height: 280px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.product-section .card-image a:hover img{ height: 300px; }

.product-section .card-image{ margin-bottom: 15px; }

.product-section .card-cont{ text-align: center; }

.product-section .card-cont h4{ margin-bottom: 5px; text-transform: uppercase;  }

.product-section .card-cont p{ font-size: 15px; line-height: 1.5; }

.product-section .product-col{ margin-bottom: 40px; }

.cmn-btn{
  display: inline-block;
  background-color: #353a5f;
  background-image: linear-gradient(#353a5f,#9ebaf3);
  padding: 12px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 30px;
  font-size: 15px;
  border-top-right-radius: 0;
}

.cmn-btn:hover{
  background-color: #9ebaf3;
  background-image: linear-gradient(#9ebaf3,#353a5f);
  color: #fff;
}

.review-section{ background: #e9e9e9; }

.review-section h2{ text-transform: uppercase; text-align: center; margin-bottom: 30px; }

.review-section .review-card{
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  margin: 14px;
}

.review-section .review-col .review-image{
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 125px;
  margin: 0 auto;
}

.review-section .review-col .review-cont{ padding-top: 65px; text-align: center; }

.review-section .review-col .review-cont p{
  font-size: 15px;
  font-style: italic;
  position: relative;
  padding-left: 38px;
  padding-right: 38px;
}

.review-section .review-slider{ display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

.review-section .review-slider .review-col{
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
}

.review-section .review-col .review-cont p::before{
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  background: url('./assets/images/quote-left.svg') no-repeat center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.review-section .review-col .review-cont p::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  background: url('./assets/images/quote-right.svg') no-repeat center center;
  background-size: 30px;
  width: 30px;
  height: 30px;
}


.review-section .review-col .review-cont span{
  display: block;
  font-weight: 700;
  font-style: italic;
  position: relative;
  width: 157px;
  padding-right: 60px;
}

.review-section .review-col .review-cont span::before{
  content: "";
  position: absolute;
  top: 54%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background: #000;
}

.review-section .slick-dots{ bottom: -50px; }

.review-section  .slick-track{ padding-top: 50px; }

.review-section .slick-dots li::before{ display: none; }

.review-section .slick-dots li{
  padding-left: 0;
  background-color: #353a5f;
  background-image: linear-gradient(#353a5f,#9ebaf3);
  opacity: 0.5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.review-section .slick-dots li.slick-active{ opacity: 1; }

.slick-dots li button::before{ content: ""; }

.contatc-sec h2{ text-transform: uppercase; text-align: center; margin-bottom: 40px; }

.contatc-sec .form-sec-col{ margin-bottom: 30px; }

.contatc-sec .form-sec-col:last-child{ margin-bottom: 0; }

.contatc-sec .form-section{
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(78, 82, 117, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(78, 82, 117, 0.75);
  box-shadow: -1px 0px 5px 0px rgba(78, 82, 117, 0.75);
  padding: 25px;
  border-radius: 5px;
}

/* .footer-sec{
  background-color: #353a5f;
  background-image: linear-gradient(#353a5f,#9ebaf3);
} */

.footer-sec .footer-wrapper{
  padding: 40px 0;
  background-color: #353a5f;
  background-image: linear-gradient(#353a5f,#9ebaf3);
}

.footer-sec .copy-right{ background: #000; padding: 15px 0; }

.footer-sec .copy-right .copyright-row{ display: flex; justify-content: space-between; }

.footer-sec .copy-right .copyright-row ul{ display: flex; margin-bottom: 0; }

.footer-sec .copy-right .copyright-row ul li::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 2px;
  height: 100%;
  background: #fff;
 }

.footer-sec .copy-right .copyright-row ul li{
  padding-left: 0;
   margin-bottom: 0;
   position: relative;
   line-height: 0;
   padding-right: 20px;
   margin-right: 20px;
  }

  .footer-sec .copy-right .copyright-row ul li:last-child{ padding-right: 0; margin-right: 0; }

  .footer-sec .copy-right .copyright-row ul li:last-child::before{ display: none; }

.footer-sec .copy-right .copyright-row ul li a{
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
}

.footer-sec .copy-right .copyright-row ul li a:hover{ color: #9ebaf3; }

.footer-sec .copy-right p{ color: #fff; font-size: 14px; margin-bottom: 0; }

.footer-sec .fooetr-row{ display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }

.footer-sec .footer-col{ width: 22%; padding-left: 15px; padding-right: 15px; }

.footer-sec .footer-col:nth-child(3){ width: 32%; }

.footer-sec .footer-col:nth-child(2){ padding-left: 45px; }

.footer-sec .footer-col:last-child{ padding-left: 45px; }

.footer-sec .footer-col h3{ color: #fff; margin-bottom: 15px; }

.footer-sec .footer-col ul li{ padding-left: 0; position: relative; }

.footer-sec .footer-col ul{ margin-bottom: 0; }

.footer-sec .footer-col ul li::before{ display: none; }

.footer-sec .footer-col ul li a,
.footer-sec .footer-col ul li p{ color: #fff; }

.footer-sec .footer-col ul li a.current-menu-item{ opacity: 0.5; }

.footer-sec .footer-col ul li a:hover{ opacity: 0.5; }

.footer-sec .footer-col .footer-info ul li span{
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 0;
  display: inline-block;
  filter: brightness(0) invert(1);
}

.footer-sec .footer-col .footer-info ul li{ padding-left: 30px; margin-bottom: 15px; }

.footer-sec .footer-col .footer-info ul li:last-child{ margin-bottom: 0; }

.footer-sec .footer-col a{ display: inline-block; }

.footer-sec .footer-col .footer-social ul li a{ display: inline-block; width: 22px; height: 22px; line-height: 0; }

.footer-sec .footer-col .footer-social ul li { margin-right: 20px; margin-bottom: 0; }

.footer-sec .footer-col .footer-social ul li:last-child { margin-right: 0; }

.footer-sec .footer-col .footer-social ul { display: flex; align-items: center; margin-bottom: 0; }


.app-section{ position: relative; background: #e9e9e9; }

.app-section .app-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.app-section .app-left::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.app-section .app-left .app-image{
  height: 100%;
}

.app-section .app-left .app-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.app-section .app-right h2{ margin-bottom: 40px; }

.app-section .app-right{ margin-left: auto; padding: 200px 15px; text-align: center; }

.app-section .app-right .d-link-wrap{ display: flex; align-items: center; justify-content: center; }

.app-section .app-right .d-link-wrap a{ margin-right: 10px; }

.app-section .app-right .d-link-wrap a:last-child{ margin-right: 0; }

.inner-banner{ position: relative; }

.inner-banner > img{ width: 100%; }

/* .inner-banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(13, 46, 79, 0.5);
  width: 100%;
  height: 100%;
} */

.inner-banner .banner-cont{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
}

.inner-banner .banner-cont h1{ color: #fff; }

.product-listing-page .product-card{
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 40px 7px rgba(78, 82, 117, 0.15);
  -moz-box-shadow: 0px 2px 40px 7px rgba(78, 82, 117, 0.15);
  box-shadow: 0px 2px 40px 7px rgba(78, 82, 117, 0.15);
  border-radius: 6px;
  position: relative;
}

.product-listing-page .product-card .product-image img{ width: 100%; }

.product-listing-page .product-card .product-image{ position: relative; margin-bottom: 20px; min-height: 270px; }

.product-listing-page .product-card .product-image .cart{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #e61919;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.product-listing-page .product-card .product-image .cart img{ width: 20px; height: 20px; }

.product-listing-page .product-card .product-cont h5 a{
  display: inline-block;
}

.product-listing-page .product-card:hover .product-image .cart{ opacity: 1; }

.product-listing-page .product-card .product-cont h5 a:hover{ color: #9ebaf3; }


.product-listing-page .product-card .product-cont h5{ margin-bottom: 15px;  font-weight: 600; }

.product-listing-page .product-card .product-cont .price{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.product-listing-page .product-card .product-cont .price span{ display: inline-block; }

.product-listing-page .product-card .product-cont .price span:first-child{
  font-size: 17px;
  font-weight: 700;
  color: #000;
  margin-right: 15px;
}

.product-listing-page .product-card .product-cont .price span:last-child{
  font-size: 14px;
  color: #ccc;
  text-decoration: line-through;
}

.product-listing-page .product-card .cmn-btn{ border-radius: 0; width: 100%; font-size: 13px; text-align: center; }

.product-listing-page .produtc-col{ margin-bottom: 30px; }

.product-listing-page .product-row{ margin-bottom: -30px; }

.about-section .heading{
  max-width: 600px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.about-section .about-image > img{ width: 100%; }

.about-section .about-row:nth-child(odd) .about-left{ order: 2; }

.about-section .about-row{ margin-bottom: 60px; }

.about-section .about-row:last-child{ margin-bottom: 0; }

.about-section .about-row .about-right{
   padding-left: 45px;
}

.about-section .about-row:nth-child(odd) .about-right{ padding-left: 15px; padding-right: 45px; }

.contact-info ul{ display: flex; justify-content: center;  }

.contact-info ul li{ position: relative; margin-bottom: 0; padding-left: 75px; margin-right: 70px;  }

.contact-info ul li:last-child{ margin-right: 0; }

.contact-info ul li .contact-cont{ position: relative; max-width: 300px;  }

.contact-info ul li .contact-cont h4{ margin-bottom: 10px; }

.contact-info ul li::before{ display: none; }

.contact-info ul li i{
   position: absolute;
   top: 0;
   left: 0;
   width: 60px;
   height: 60px;
   line-height: 0;
   background: rgba(221, 221, 221);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contact-info ul li i img{ width: 25px; height: 25px; }

.contact-info ul li span,
.contact-info ul li a{ display: inline-block; color: #000;  }

.contact-info ul li a:hover{ color: #353a5f; }

.contact-info{margin-bottom: 70px; }

.contact-page .form-section{ max-width: 950px; }

@media(min-width:1025px){

/* navbar*/
.clickD{display: none;}
.navbar-nav  li.menu-item-has-children:hover > .sub-menu{ display: block; }

}



@media (max-width: 1199px) {


  .main-head .navbar-brand{  width: 45px; }

  .logo-2 {
    width: 216px;
    left: 20%;
}

  .main-head.black{ height: 80px; }

  .main-head.black .navbar-brand {
    width: 100px;
 }

 .navbar-nav > li > a{ font-size: 16px; }

 .main-head.black  .navbar-nav > li > a{ font-size: 14px; }

 .banner-section .banner-cont .banner-container {
  max-width: 482px;
  margin-left: 8%;
}

h1 {
  font-size: 40px;
}

.contact-info ul li{ margin-right: 40px; }


}


 @media(max-width:1024px)
 {
 /* navbar*/
 .navbar-nav .clickD { position: absolute;right: 0;top: 5px;width: 20px;height: 20px;background: url(./assets/images/sort-down.svg) center center no-repeat; cursor: pointer;
	 display: block;background-size: 10px;}
 .navbar-nav > li.menu-item-has-children{padding-right: 20px;}
.sub-menu.show{
  display: block;
}

}


@media(max-width: 991px) {

  .navbar-toggler{
    position: relative;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
  }

  .navbar-toggler:focus{ outline: none; }

  .navbar-toggler span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    display: inline-block;
    transition: 00.5s ease-in-out;
  }

  .logo-2 {
    width: 216px;
    left: 0;
    right: 0;
}

.navbar-nav > li.menu-item-has-children{ padding-right: 0; }

  .navbar-toggler span:nth-child(2){ top: 8px; }

  .navbar-toggler span:nth-child(3){ top: 16px; }

  .navbar-toggler[aria-expanded="true"] span:nth-child(2){ opacity: 0; }

  .navbar-toggler[aria-expanded="true"] span:nth-child(1){ transform: rotate(45deg); top: 11px; }

  .navbar-toggler[aria-expanded="true"] span:nth-child(3){ transform: rotate(-45deg); top: 11px; }

  .sub-menu{ position: relative; width: 100%; }

  .main-head{ padding: 0; }

  .main-head .navbar{ padding: 10px 0; }

  .navbar .navbar-collapse{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: #000;
    padding: 10px;
    z-index: 99999;
  }

  .navbar-nav li{ margin-right: 0; }

  .cmn-gap{
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .product-section h2{ margin-bottom: 30px; }

  .product-section .product-col,
  .review-section h2,
  .contatc-sec h2 {
    margin-bottom: 30px;
}


.footer-sec .footer-col {
  width: 28.33%;
  margin-bottom: 30px;
}

.footer-sec .footer-col:nth-child(3) {
  width: 42%;
}

.app-section .app-left{
  position: relative;
  top: inherit;
  left: inherit;
  margin-bottom: 30px;
}

.app-section .app-right{
  padding: 0 15px;
}

.app-section{ padding: 45px 0; }

.about-section .about-row .about-right{ padding-left: 15px; }

.about-section .about-row .about-left{ margin-bottom: 30px; }

.about-section .about-row{ margin-bottom: 30px; }

.about-section .about-row:nth-child(odd) .about-left{ order: inherit; }

.about-section .about-row .about-right .about-cont h3{ margin-bottom: 15px; }

.heading h2{ font-size: 25px; margin-bottom: 15px; }

.about-section .heading{ margin: 0 auto 25px auto; }

.about-section .about-row .about-right .about-cont h3{ font-size: 18px; }

.about-section .about-row:nth-child(odd) .about-right{ padding-right: 15px; }

.contact-info ul{ flex-wrap: wrap; justify-content: flex-start; }

.contact-info ul li{ margin-bottom: 40px; }

.contact-info ul li:last-child{ margin-bottom: 0; }

}


@media (max-width: 767px) {

/* images alignment for wordpress content pages */
.alignright,.alignleft,.aligncenter { float: none; clear: both;display: block; margin-left: auto; margin-right: auto;
	margin: 0 0 22px 0; max-width: 100%;}

/* navbar*/
.navbar-nav .clickD{
  top: 6px;
  right: 10px;
}
.sub-menu, .navbar-nav > li > .sub-menu .sub-menu{
  position: relative; width: 100%;
  left: inherit; top: inherit;
  border: none;
}
.navbar-nav > li.menu-item-has-children{padding-right: 0;}
.navbar-nav > li{
  margin: 0;
  padding: 0;
}
.navbar-nav > li > a{
  padding: 6px 10px;
  display: inline-block;
  width: 100%;
}
.sub-menu > li > a{padding-left: 20px;}
.sub-menu .sub-menu > li > a{padding-left: 40px;}
.sub-menu .sub-menu .sub-menu > li > a{padding-left: 60px;}

.banner-section figure > img{ height: 400px; object-fit: cover; object-position: center; }

.banner-section .slick-list { height: 400px; }

.banner-section .banner-cont h1{ font-size: 30px; }

.banner-section .banner-cont .banner-container{
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.product-section .product-col,
.product-section h2,
.review-section h2,
.contatc-sec h2{ font-size: 25px; }

.product-section .card-cont h4{ font-size: 16px; }

.cmn-btn{ padding: 9px 25px; font-size: 14px; }

.footer-sec .footer-col{ width: 50%; }

.footer-sec .footer-col:nth-child(2),
.footer-sec .footer-col:last-child{ padding-left: 15px; }

.footer-sec .footer-col:nth-child(3) {
  width: 50%;
}

.footer-sec .footer-col h3{ font-size: 20px; }

.footer-sec .footer-col ul li a,
.footer-sec .footer-col ul li p{ font-size: 15px; }

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select{ height: 46px; }

textarea{  height: 120px; }

input[type="submit"]{
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
}

.app-section .app-right h2{ font-size: 25px; margin-bottom: 20px; }

.app-section .app-right .d-link-wrap{ display: block; }

.app-section .app-right .d-link-wrap a{ display: block; margin-right: 0; margin-bottom: 20px; }

.app-section .app-right .d-link-wrap a:last-child{ margin-bottom: 0; }

.inner-banner > img{ height: 350px; object-fit: cover; object-position: center; }

.inner-banner .banner-cont h1{ font-size: 30px; }

.contact-info ul li{ width: 100%; margin-right: 0; }

.contact-info ul li .contact-cont{ max-width: 100%; }

.contact-info ul li i{ width: 50px; height: 50px; }

.contact-info ul li i img { width: 20px; height: 20px; }

.contact-info { margin-bottom: 40px; }

.contact-info ul li{ padding-left: 60px; }

}

@media(max-width:479px){

  .main-head .navbar-brand {
    width: 35px;
}

  .navbar .navbar-collapse{ width: 100%; }

  .main-head{ position: static; background: #000; }

  .main-head.black{ background-color: #000; }

  .banner-section .slick-next:before,
  .banner-section .slick-prev:before{
    background-size: 20px;
    width: 20px;
    height: 20px;
  }

  .logo-2{ display: none; }

  .banner-section .banner-cont h1 {
    font-size: 23px;
}

.banner-section .banner-cont p{ font-size: 14px; }

.banner-section .slick-next,
.banner-section .slick-prev{ width: 20px; height: 20px; }

.banner-section figure > img,
.banner-section .slick-list{ height: 330px; }

.cmn-gap {
  padding-top: 40px;
  padding-bottom: 40px;
}

body{ font-size: 14px; }

.footer-sec .footer-col{ width: 100% !important; }

.footer-sec .footer-col:last-child{ margin-bottom: 0; }

.inner-banner > img{ height: 250px; object-fit: cover; object-position: center; }

}




