<footer class="footer-sec">
  <div class="footer-wrapper">
    <div class="container">
      <div class="fooetr-row">
        <div class="footer-col">
          <a [routerLink]="['/home']"><img src="./assets/images/logo2.png" alt=""></a>
        </div>
        <div class="footer-col">
          <div class="quick-links">
            <h3>Quick Links</h3>

            <ul>
              <li><a [routerLink]="['/home']" routerLinkActive="current-menu-item">Home</a>
              </li>
              <li><a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/about-us']"
                  routerLinkActive="current-menu-item">About Us</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/products']"
                  routerLinkActive="current-menu-item">Our products</a></li>
              <li><a data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']"
                  routerLinkActive="current-menu-item">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-col">
          <div class="footer-info">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <span><img src="./assets/images/placeholder.svg" alt=""></span>
                <p>Bhumi Arcade, 1st Level, Lakadganj Nagpur 440008.</p>
              </li>

              <li>
                <span><img src="./assets/images/call.svg" alt=""></span>
                <a href="tel:8956877763">89568 77763</a>
              </li>
              <li>
                <span><img src="./assets/images/call.svg" alt=""></span>
                <a href="tel:8830611703">88306 11703</a>
              </li>
              <li>
                <span><img src="./assets/images/email.svg" alt=""></span>
                <a href="mailto:buildboardfurnishers@gmail.com">buildboardenterprises@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-col">
          <div class="footer-social">
            <h3>Social Media</h3>
            <ul>
              <li><a href="https://www.facebook.com/buildboardfurnishers/" target="_blank"><img
                    src="./assets/images/facebook.svg" alt=""></a></li>
              <li><a href="#url"><img src="./assets/images/twitter.svg" alt=""></a></li>
              <li><a href="https://instagram.com/buildboardfurnishers?igshid=hi8trw08gw3r" target="_blank"><img
                    src="./assets/images/instagram.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copy-right">
    <div class="container">
      <p>© Copyright 2020.BUILDBOARD-FURNISHERS. All rights reserved.</p>
    </div>
  </div>

</footer>
